.layout {
  .content-wrapper {
    width: 90%;
    margin: auto;
    max-width: 1440px;
    min-height: 400px;
    margin-top: 15px;

    .main-content {
      margin-right: 310px;
    }

    .side-bar {
      width: 290px;
      float: right;
    }
  }
}