.signin-page {
  .login-from {
    margin-top: 40px;

    .form-control {
      display: flex;

      & + .form-control {
        margin-top: 20px;
      }

      .form-input {
        margin-left: 20px;

        input {
          outline: none;
          border-radius: 5px;
          border: 1px solid #eee;
          width: 300px;
          font-size: 14px;
          line-height: 2em;
        }
      }

      .form-label {
        width: 160px;
        text-align: right;
      }
    }
   
  }
}