body {
  background: #e1e1e1;
  color: #333;
  font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,sans-serif!important;
}

.page-panel-title {
  font-size: 14px;
  line-height: 20px;

  a {
    color: #80bd01;
  }

  .divider {
    padding: 0 5px;
  }

  .title {
    color: #999;
  }
}

.title-panel {
  a {
    color: #778087;
  }
  
  button {
    padding: 3px 10px;
    background: #5bc0de;
    letter-spacing: 2px;
    line-height: 2em;
    color: #fff;
    border-radius: 3px;
    margin-top: 6px;
  }
}

.ranking-panel {
  li {
    display: block;
    color: gray;
    line-height: 2em;

    span {
      display: inline-block;
      width: 60px;
    }
  }
}

.about-panel {
  p {
    margin-bottom: 1em;
  }

  ul {
    li {
      line-height: 2em;
      display: list-item;
    }
  }
}

.ranking-panel {
  ol {
    padding: 0;
    margin: 0;
  }
}

.no-reply-topics-panel {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.content-card {
  margin-left: 10px;
  margin-right: 10px;

  &:first-child {
    h3 {
      margin-top: 0;
    }
  }

  h3 {
    font-size: 24.5px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
  }

  p {
    margin-top: 1em;
    margin-bottom: 1em;

    font-size: 16px;
    line-height: 1.75;

    &:first-child {
      margin-top: 0;
    }
  }

  a {
    color: #08c;
    &:hover {
      text-decoration: underline;
    }
  }

  img {
    width: 250px;
    height: 60px;
  }
}