.App {
  background: #e1e1e1;
}

body {
 font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,sans-serif!important;
}

.about-panel {
  p {
    margin-bottom: 1em;
  }

  ul {
    list-style: disc;
    margin-left: 2em;

    li {
      line-height: 2em;
      display: list-item;
    }
  }
}