body, ul, ol, h4, p {
  margin: 0;
}

ul, ol, h4, p {
  padding: 0;
}

img {
  display: inline-block;
  max-width: 100%;
}

li {
  display: inline-block;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}